.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 1 / 2 / 2 / 3; }
    .div6 { grid-area: 1 / 3 / 2 / 4; }
    .div7 { grid-area: 1 / 4 / 2 / 5; }
    .div8 { grid-area: 2 / 2 / 5 / 3; }
    .div9 { grid-area: 2 / 3 / 5 / 4; }
    .div10 { grid-area: 2 / 4 / 5 / 5; }

    