$fondo: url(https://i.pinimg.com/originals/2e/14/63/2e14634200b7c7328823c0f6683826b2.jpg);

.fondo {
  background-image: $fondo;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

main h1{
    color: whitesmoke;
}



.logo {
  width: 5rem;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;

  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    color: whitesmoke;
  }

  input[type=text], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border-color: #333;
      box-shadow: 0 0 10px #333;
    }
  }

  input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #666;
      transform: translateY(-3px);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
