.productos {
    background-image: url(https://i.pinimg.com/originals/2e/14/63/2e14634200b7c7328823c0f6683826b2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    .logo {
      width: 5rem;
    }
  
    .gorra {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 20rem;
      display: inline-block;
    }
  
    .remera {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 20rem;
      display: inline-block;
    }
  
    .funko {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 20rem;
      display: inline-block;
    }
  
    .btn-zoom {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.1);
      }
  
      position: relative;
      overflow: hidden;
  
      img {
        transition: transform 0.5s ease;
      }
  
      &:hover img {
        transform: scale(1.2);
      }
    }
  }
  

  