.sucursales {
    background-image: url(https://i.pinimg.com/originals/2e/14/63/2e14634200b7c7328823c0f6683826b2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  
    .mapas {
      display: inline-block;
    }
  }
  
  .logo {
    width: 5rem;
  }
  .sucursales{
    div, p, iframe, img{
     width: 100px;
     margin-bottom: 10px;
    }
}
  