@media (max-width: 425px) {
    .formulario {
      label, input, textarea, button {
        width: 100%;
        margin-bottom: 10px;
      }
    
      textarea {
        height: 100px;
      }
    }
    

    }
    .sucursales{
       div, p, iframe, img{
        width: 100px;
        margin-bottom: 10px;
       } 
    }
    .col{
       div, img, p{
       
            max-width: 425px;
            margin: 0 auto;
          }
          
       }
    
    
      

  

  
  
